.landing-page {
    margin: 0 auto;
    padding: 25px;
    display: flex;
}

.landing-page p {
    font-size: 25px;
    text-align: center;
    margin: 10px;
}

.landing-page button {
    margin: 10px;
    font-size: 18px;
}

.win-list {
    width: 70%;
}

.win-list p {
    text-align: right;
    font-size: 25px;
    margin: 0 25px;
}

.win-item {
    display: flex;
    margin: 15px auto;
    border: 2px #d6d6d6 solid;
    width: 100%;
    justify-content: space-between;
}

.win-item span {
    vertical-align: middle;
    margin: auto 10px;
}

.item-plus {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.item-and-options {
    display: flex;
    width: 100%;
}

.item-and-options button {
    height: 65px;
    font-size: 45px;
    border: none;
    background-color: transparent;
    margin: auto;
}

.item-and-options button:hover {
    background-color: rgb(255, 208, 0);
}

.item-and-options h2 {
    font-size: 18px;
}
.upvotes {
    margin: auto 5px;
    width: 55px;
}